body {
    background-color: black;
    color: white;
    text-align: center;
}
body a { /*Corpo das páginas dos links (tag <a>)*/
    color: white;
    text-decoration: none; /*Remover o sublinhado do link*/
}